/* google fonts link */
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Lilita one */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Lilita One", sans-serif;
    font-size: 3rem;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: #fff;
    --main-color: #00ffee;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 3rem;
    font-family: "Lilita One", sans-serif;
    font-weight: 800;
    cursor: pointer;
    transition: .3s ease;
    color: var(--text-color);
}

.logo :hover {
    transform: scale(2);
    color: white;
}

.logo span {
    text-shadow: 0 0 25px var(--main-color);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: .3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

/* Home */
section {
    min-height: 100vh;
    padding: 10rem 12%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

span {
    color: var(--main-color);
}

.home-content h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.home-content h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-content p {
    text-align: start;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    top: 3rem;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: .4s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color),
        0 0 100px var(--main-color);
}

.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease-in-out;
}

.social-icons a:hover {
    color: var(--text-color);
    transform: scale(1.3)translateY(5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
    color: white;
    background-color: black;
    border: 2px solid var(--main-color);
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.btn-group a:nth-of-type(2) {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

.text-animation {
    font-size: 2.1rem;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: "Front-End Developer";
    color: var(--main-color);
    animation: words 20s infinite;
}

.text-animation span::after {
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes words {

    0%,
    32% {
        content: "Front-End Developer";
    }

    33%,
    66% {
        content: "React Js Developer";
    }

    67%,
    100% {
        content: "Web Designer";
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

/* About */
.about .connect {
    display: flex;
    gap: 40px;
}

.about .singleBox {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s ease-in-out;
}

.about .singleBox:hover {
    transform: translateY(-5px);
}

.about .singleBox h2 {
    font-size: 25px;
}

.about .singleBox h3 {
    font-size: 20px;
    color: gray;
}

.about .singleBox a {
    font-size: 20px;
    color: gray;
}

.about .contactBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about .aboutContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.about .work {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about .workBox {
    border: 2px solid yellow;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding-left: 40px;
    height: 200px;
    width: 300px;
    transition: 0.5s ease-in-out;
}

.about .workBox:hover {
    transform: scale(1.05);
}

.about .workBox h1 {
    font-size: 60px;
}

.about .workBox p {
    font-size: 20px;
}

.about .contactBox .download {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid greenyellow;
    border-radius: 35px;
    margin-top: 20px;
    max-width: fit-content;
    transition: 0.8s ease-in-out;
}

.about .contactBox .download:hover {
    background-color: yellow;
    border: 2px solid red;
}

.about .contactBox .download:hover p {
    color: black;
}


.about .contactBox .download p {
    font-size: 20px;
}

.about .contactBox .download i {
    font-size: 20px;
    background-color: yellow;
    padding: 20px;
    border-radius: 50%;
}

/* Education */

.heading {
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}

.education {
    padding: 100px 15px;
}

.education h2 {
    margin-bottom: 5rem;
}

.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 10px;
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 9px);
}

.timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}

.timeline-content {
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}

.timeline-content h3 {
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline-content p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    width: 50px;
}

/* Service */
.services {
    background: var(--bg-color);
    color: black;
}

.services h2 {
    margin-bottom: 5rem;
    color: white;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.service-box {
    background-color: var(--main-color);
    height: 300px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.service-box:hover {
    border: 5px solid var(--text-color);
    transform: scale(1.03);
}

.service-box .service-info {
    display: flex;
    flex-direction: column;
    text-align: start;
    max-height: 200px;
    align-items: start;
    padding: 5rem 5rem;
}

.service-info h4 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 2;
    text-align: start;
}

.service-info p {
    font-size: 1.6rem;
    font-weight: 600;
    max-height: 100px;
    line-height: 1.7;
    text-align: start;
}

/* Project section */

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.project-section h2 {
    font-size: 80px;
}

.project-section .project-box {
    flex-basis: 30%;
    border: 1px solid #00ffee;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.project-section .project-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}

.project-section .project-img {
    width: 100%;
    height: 240px;
    border-radius: 10px;
}

.project-section .project-box h2,
p {
    color: #fff;
    text-align: center;
    margin-block: 10px;
    padding-inline: 10px;
    font-size: 12px;
    letter-spacing: 1.1px;
}

.project-section .project-box h2 {
    letter-spacing: 2px;
    font-size: 15px;
    color: goldenrod;
}





/* Contact */

.contact {
    background-color: var(--bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
    color: white;
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}

.contact form .input-box input:hover,
.contact form textarea:hover {
    box-shadow: 0 0 5px var(--text-color);
}

.contact form .btn {
    margin-top: 2rem;
}


/* Footer */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--second-bg-color);
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .social a {
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

.footer .social a:hover {
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
}

.footer ul li {
    display: inline-flex;
    padding: 0 15px;
}

.footer .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}


/* Responsive */

@media(max-width:1285px) {
    html {
        font-size: 55%;
    }

    .services-container {
        padding-bottom: 7rem;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 5rem;
    }
}

@media(max-width:991px) {
    header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .timeline-item::before {
        left: 7px;
    }

    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
    }

    .timeline-dot {
        left: 0;
    }

    .services {
        padding-bottom: 7rem;
    }

    .contact form {
        flex-direction: column;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media(max-width:895px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        background: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }

    .home {
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 8rem;
        margin-top: 3rem;
    }

    .home-content p {
        max-width: 600px;
        margin: 0 auto;
    }

    .home-img img {
        width: 56vw;
    }

    .project-section .project-box {
        flex-basis: 45%;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width:600px) {
    .project-section .project-box {
        flex-basis: 100%;
    }
}